//Body Styles
body {
  display: grid;
  height: 100vh;
  background-color: $darkBlue;
  align-items: center;
  justify-content: center;
}

//Main Component
.main {
  display: flex;
  width: 20em;
  height: 45em;
  background-color: $desaturatedBlue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0.625em;
  margin: 5em auto;
}

//Card Image Main and Overlay
.main__img {
  width: 20em;
  height: 14.5em;
  background-image: url("/images/image-header-mobile.jpg");
  background-size: cover;
  border-radius: 0.625em 0.625em 0 0;
  margin-top: -4.4em;
  margin-bottom: 2em;
  box-shadow: inset 0 0 0 125em hsla(277, 100%, 34%, 0.371);
}

//Card Header and Body
.main__title {
  color: $white;
  font-family: $inter;
  width: 10em;
  font-size: 1.75em;
  margin-bottom: -0.01em;
}

.title--color {
  color: $softViolet;
}

.main__desc {
  color: $mainTrnsptWhite;
  font-family: $inter;
  font-size: 1em;
  width: 17em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

//Stats
.main__stats h2 {
  font-family: $inter;
  color: $white;
  margin-bottom: -0.25em;
}

.main__stats p {
  font-family: $lexend;
  color: $statTrnsptWhite;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

//Desktop Breakpoints
@media screen and (min-width: $laptop) and  (max-width: $desktop) {
    html {
        display: flex;
        justify-content: center;
    }

    .main {
        width: 75em;
        height: 28em;
        flex-direction: row-reverse;
    }

    .main__stats {
        display: inline-block;
        text-align: left;
    }

    .main__img {  
        width: 33.75em;
        height: 27.875em;
        background-image: url("/images/image-header-desktop.jpg");
        margin: 0;
        border-radius: 0 0.625em 0.625em 0;
        margin-right: -13em;
    }

    .main__wrap {
        position: relative;
        text-align: left;
        left: -7em;

    }

    .main__title {
        font-size: 2.5em;
        width: 11em;
        margin-bottom: 0.5em;
    }

    .main__desc {
        width: 25em;
        margin-bottom: 3em;
    }

    .main__stats {
        margin-right: 4em;
    }
}